# Hello Python

In [1]:
print('Hello Python')

Hello Python

### Check your python version

In [2]:
!python -V

Python 3.8.18

In [3]:
!pwd

'pwd' is not recognized as an internal or external command,
operable program or batch file.

# Variables

### Let's create some variables

In [4]:
## Let's create some variables

a_1 = 10
a_2 = 11.2
a_3 = 'Python'
a_4 = True

### Let's print those variables

In [5]:
## Let's print those variables
print(a_1)
print(a_2) 
print(a_3)
print(a_4)

10
11.2
Python
True

### Let's print the types of variables

In [6]:
## Let's print the types of variables

print(type(a_1))
print(type(a_2))
print(type(a_3))
print(type(a_4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Let's try to add two different type of variables

In [7]:
## Let's try to add two different type of variables
a_5 = a_1 + a_2
print(a_5)

21.2

# Python can automatically convert integer to floats if required

### What if we try to change float and int!!!

In [8]:
## What if we try to change float and int!!!
print(int(a_2), type(int(a_2)))

print(float(a_1), type(float(a_1)))

11 <class 'int'>
10.0 <class 'float'>

### Did this operations change the original variables??

In [9]:
## Did this operations change the original variables??

print(a_1, type(a_1))
print(a_2, type(a_2))

10 <class 'int'>
11.2 <class 'float'>

### Can we add numbers to a string??

In [11]:
## Can we add numbers to a sting??
a_6 = a_1 + a_3
print(a_6)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Let's try something else

In [12]:
## Let's try something else

a_7 = '22'
a_6 = a_1 + a_7
print(a_6)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### What about boolean?

In [13]:
if a_4:
    print('It is TRUE')

It is TRUE

### What was that!!!

In [14]:
a_8 = False

if a_8:
    print('It is FALSE')

In [15]:
if a_8 == False:
    print('It is FALSE')

It is FALSE

### What did just happen!!!

### Let's try other booleans

In [16]:
type(a_1) == int

True

In [17]:
if type(a_1) == int:
    print('It is TRUE')

It is TRUE

In [18]:
if a_8 == False:
    print('It is FALSE and that is the TRUTH')

It is FALSE and that is the TRUTH

In [19]:
if a_8 == 'False':
    print('It is FALSE and that is the TRUTH')

### Let's count string characters

In [20]:
len(a_3)

6

In [21]:
a_3[2]

't'

In [22]:
type(a_3[2])

str

### Can we add two strings?

In [23]:
a_9 = 'Classes'
a_10 = a_3 + a_9
print(a_10)

PythonClasses

### Let's convert string to number

In [24]:
a_11 = float(a_3)

ValueError: could not convert string to float: 'Python'

In [25]:
print(a_7, type(a_7))
print(float(a_7), type(float(a_7)))

22 <class 'str'>
22.0 <class 'float'>

### Simple 'while' operations

In [26]:
b_1 = 2

while b_1 < 10:
    print(b_1)
    b_1 += 1

2
3
4
5
6
7
8
9

# List

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [27]:
## Let's create a list of stings
list_1 = ["apple", "banana", "cherry"]
print(list_1)

['apple', 'banana', 'cherry']

In [28]:
print(type(list_1))

<class 'list'>

In [29]:
print(list_1[0])

apple

In [30]:
print(type(list_1[0]))

<class 'str'>

In [31]:
print(list_1[0][3])

l

In [32]:
## Let's create a list of floats
list_2 = [5.6, 6.0, 8.5]
print(list_2)

[5.6, 6.0, 8.5]

In [33]:
## Let's create a mixed list
list_3 = [5.6, 6, 'Pune', True, 'IITM']
print(list_3)

[5.6, 6, 'Pune', True, 'IITM']

In [34]:
print(type(list_3[3]))

<class 'bool'>

In [35]:
len(list_3)

5