# Python Lists

The list is a sequence data type which is used to store the collection of data.

### Create a Python List

In [12]:
 # a list of three elements
ages = [19, 26, 29]
print(ages)

print(type(ages))

[19, 26, 29]
<class 'list'>

### List Items of Different Types

In [13]:
# a list containing strings and numbers
student = ['Jack', 32, 'Computer Science']
print(student)

# an empty list
empty_list = []
print(empty_list)

['Jack', 32, 'Computer Science']
[]

### List of lists

In [14]:
City_name = ['Pune', 'Delhi', 'Chennai', 'Kolkata']
student_name = ['Sachin', 'Balwant', 'Ravichandran', 'Subhash']
student_age = [23, 25, 22, 26]

list_4 = [student_name, City_name, student_age]

print(list_4)

[['Sachin', 'Balwant', 'Ravichandran', 'Subhash'], ['Pune', 'Delhi', 'Chennai', 'Kolkata'], [23, 25, 22, 26]]

In [15]:
print(list_4[1])

['Pune', 'Delhi', 'Chennai', 'Kolkata']

### List Characteristics

Ordered - They maintain the order of elements.

Mutable - Items can be changed after creation.

Allow duplicates - They can contain duplicate values.

In [16]:
list_5 = [2, 3, 4, 3, 8, 6, 6]

print(list_5)
print(list_5[1], list_5[3])

[2, 3, 4, 3, 8, 6, 6]
3 3

In [17]:
list_6 = [2, 10, -1, 23, -1]

print(list_6[2], list_6[4])

-1 -1

### Access List Elements

Each element in a list is associated with a placeholder number, known as an index.

The index of first item is 0, the index of second item is 1, and so on.

In [18]:
languages = ['Python', 'Swift', 'C++']

# Access the first element
print(languages[0])   # Python

# Access the third element
print(languages[2])   # C++

Python
C++

### Negative Indexing in Python

Python also supports negative indexing. The index of the last element is -1, the second-last element is -2, and so on.

In [19]:
languages = ['Python', 'Swift', 'C++']

# Access item at index 0
print(languages[-1])  

# Access item at index 2
print(languages[-3])   

print(languages[-5])

C++
Python

IndexError: list index out of range

### Slicing of a List in Python

In Python, it is possible to access a section of items from the list using the slicing operator :. For example,

In [20]:
my_list = ['p', 'r', 'o', 'g', 'r', 'a', 'm']

# items from index 2 to index 4
print(my_list[2:5])

# items from index 5 to end
print(my_list[5:])

# items beginning to end
print(my_list[:])

['o', 'g', 'r']
['a', 'm']
['p', 'r', 'o', 'g', 'r', 'a', 'm']

In [21]:
## step 1
my_list = ['p', 'r', 'o', 'g', 'r', 'a', 'm']
print(my_list)

## step 2
my_list_1 = my_list[2:5]
print(my_list_1)

# print(my_list)

['p', 'r', 'o', 'g', 'r', 'a', 'm']
['o', 'g', 'r']

In [22]:
## step 3
my_list[3] = 'Hello'
print(my_list)

['p', 'r', 'o', 'Hello', 'r', 'a', 'm']

In [23]:
## step 4
print(my_list_1)

my_list_2 =  my_list[2:5].copy()
print(my_list_2)

['o', 'g', 'r']
['o', 'Hello', 'r']

### Add Elements to a Python List

In [24]:
fruits = ['apple', 'banana', 'orange']
print('Original List:', fruits)

# using append method 
fruits.append('cherry')

print('Updated List:', fruits)

Original List: ['apple', 'banana', 'orange']
Updated List: ['apple', 'banana', 'orange', 'cherry']

In [25]:
trial_list_1 = []
print(trial_list_1)

b_1 = 2

while b_1 < 15:
    trial_list_1.append(b_1)
    b_1 += 3
    print(trial_list_1)
    
print(trial_list_1)

[]
[2]
[2, 5]
[2, 5, 8]
[2, 5, 8, 11]
[2, 5, 8, 11, 14]
[2, 5, 8, 11, 14]

###  Add Elements at the Specified Index

The insert() method adds an element at the specified index.

In [26]:
fruits = ['apple', 'banana', 'orange']
print("Original List:", fruits) 

# insert 'cherry' at index 2
fruits.insert(2, 'cherry')

print("Updated List:", fruits)

Original List: ['apple', 'banana', 'orange']
Updated List: ['apple', 'banana', 'cherry', 'orange']

### Add Elements to a List From Other list

We use the extend() method to add elements to a list from other iterables.

In [27]:
numbers = [1, 3, 5]
print('Numbers:', numbers)

even_numbers  = [2, 4, 6]
print(even_numbers)

# adding elements of one list to another
numbers.extend(even_numbers)

print('Updated Numbers:', numbers)

Numbers: [1, 3, 5]
[2, 4, 6]
Updated Numbers: [1, 3, 5, 2, 4, 6]

In [28]:
list_8 = numbers + even_numbers

print(list_8)

[1, 3, 5, 2, 4, 6, 2, 4, 6]

###  Change List Items

We can change the items of a list by assigning new values using the = operator. For example,

In [29]:
colors = ['Red', 'Black', 'Green']
print('Original List:', colors)

# changing the third item to 'Blue'
colors[2] = 'Blue'

print('Updated List:', colors)

Original List: ['Red', 'Black', 'Green']
Updated List: ['Red', 'Black', 'Blue']

### Remove an Item From a List

We can remove an item from a list using the remove() method.

In [30]:
numbers = [2,4,7,9]

print(numbers)
# remove 4 from the list
numbers.remove(4)

print(numbers)

[2, 4, 7, 9]
[2, 7, 9]

In [31]:
numbers_01 = [2, 4, 7, 8, 4]
print(numbers_01)

numbers_01.remove(4)

print(numbers_01)

[2, 4, 7, 8, 4]
[2, 7, 8, 4]

### Python List Length

We can use the built-in len() function to find the number of elements in a list.

In [32]:
cars = ['BMW', 'Mercedes', 'Tesla']

print('Total Elements: ', len(cars))

Total Elements:  3

In [33]:
trial_string_01 = 'program'
len(trial_string_01)

7

### Iterating Through a List

We can use a for loop to iterate over the elements of a list.

In [34]:
fruits = ['apple', 'banana', 'orange']

# iterate through the list
for fruit in fruits:
    print(fruit, len(fruit))

apple 5
banana 6
orange 6

### What Is Difference Between Del, Remove and Pop on Python Lists?

The purpose of these three are same but the behavior is different remove() method delete values or object from the list using value and del and pop() deletes values or object from the list using an index.

In [35]:
# program to demonstrate use of del keyword 

# assign list 
numbers = [1, 2, 3, 2, 3, 4, 5] 

# use del 
del numbers[2] 

# display list 
print(numbers) 

# use del 
del numbers[-1] 

# display list 
print(numbers) 

# use del 
del numbers[0] 

# display list 
print(numbers)

[1, 2, 2, 3, 4, 5]
[1, 2, 2, 3, 4]
[2, 2, 3, 4]

In [36]:
# program to demonstrate use of del keyword 

# assign list 
numbers = [1, 2, 3, 2, 3, 4, 5] 

# use del 
del numbers[0] 

# display list 
print(numbers) 

# use del 
del numbers[-1] 

# display list 
print(numbers) 

# use del 
del numbers[2] 

# display list 
print(numbers)

[2, 3, 2, 3, 4, 5]
[2, 3, 2, 3, 4]
[2, 3, 3, 4]

In [37]:
# program to demonstrate use of remove() method 

# assign list 
numbers = [1, 2, 3, 2, 3, 4, 5] 

print(numbers)

# use remove() 
numbers.remove(3) 

# display list 
print(numbers) 

# use remove() 
numbers.remove(2) 

# display list 
print(numbers) 

# use remove() 
numbers.remove(5) 

# display list 
print(numbers)

[1, 2, 3, 2, 3, 4, 5]
[1, 2, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [38]:
# program to demonstrate use of pop() method 

# assign list 
numbers = [1, 2, 3, 2, 3, 4, 5] 
print(numbers)

# use remove() 
numbers.pop(3) 

# display list 
print(numbers) 

# use remove() 
numbers.pop(-1) 

# display list 
print(numbers) 

# use remove() 
a = numbers.pop() 

# display list 
print(numbers) 

print(a)

[1, 2, 3, 2, 3, 4, 5]
[1, 2, 3, 3, 4, 5]
[1, 2, 3, 3, 4]
[1, 2, 3, 3]
4

### Python List index()
The index() method returns the index of the specified element in the list.

In [39]:
animals = ['cat', 'dog', 'rabbit', 'horse']

# get the index of 'dog'
index = animals.index('human')

print(index)

ValueError: 'human' is not in list

### Check if an Item Exists in the List

In [40]:
print('cow' in animals)

print('dog' in animals)

False
True

In [41]:
if 'human' in animals:
    print('not possible')
    
if 'dog' in animals:
    print('yes')

yes

### Python List sort()

The list's sort() method sorts the elements of a list.

In [42]:
prime_numbers = [11, 3, 7, 5, 2]
print(prime_numbers)

# sort the list in ascending order
prime_numbers.sort()

print(prime_numbers)

[11, 3, 7, 5, 2]
[2, 3, 5, 7, 11]

In [43]:
all_string_list = ['Deepak', 'Garvit', 'Bhavisya', 'Ameen', 'Rashmi']

print(all_string_list)

all_string_list.sort()

print(all_string_list)

['Deepak', 'Garvit', 'Bhavisya', 'Ameen', 'Rashmi']
['Ameen', 'Bhavisya', 'Deepak', 'Garvit', 'Rashmi']

### Merge two lists

In [44]:
list_1 = ["Python", 'JAVA', 'C++']

list_2 = ['C', 'FORTRAN', 'PERL']

list_3 = list_1 + list_2

print(list_3)

['Python', 'JAVA', 'C++', 'C', 'FORTRAN', 'PERL']

# Python Tuple

A tuple is a collection similar to a Python list. The primary difference is that we cannot modify a tuple once it is created.

### Create a Python Tuple

We create a tuple by placing items inside parentheses ().

In [45]:
numbers = (1, 2, -5)
print(numbers)

(1, 2, -5)

### Different Types of Python Tuples

In [46]:
# create an empty tuple
empty_tuple = ()
print(empty_tuple)



# tuple of string types
names = ('James', 'Jack', 'Eva')
print (names)

# tuple of float types
float_values = (1.2, 3.4, 2.1)
print(float_values)


# tuple including string and integer
mixed_tuple = (2, 'Hello', 'Python')
print(mixed_tuple)

()
('James', 'Jack', 'Eva')
(1.2, 3.4, 2.1)
(2, 'Hello', 'Python')

# Tuple Characteristics

    Ordered - They maintain the order of elements.
    
    Immutable - They cannot be changed after creation.
    
    Allow duplicates - They can contain duplicate values.

### Access Items Using Index

In [47]:
languages = ('Python', 'Swift', 'C++')

# access the first item
print(languages[0])   

# access the third item
print(languages[2])

Python
C++

### Tuple Cannot be Modified

In [48]:
cars =  ('BMW', 'Tesla', 'Ford', 'Toyota')

# trying to modify a tuple
cars[0] = 'Nissan'    # error
       
print(cars)

TypeError: 'tuple' object does not support item assignment

In [49]:
print(type(cars))

cars_01 = list(cars)

print(type(cars_01))

<class 'tuple'>
<class 'list'>

### Iterate Through a Tuple

In [50]:
fruits = ('apple','banana','orange')

# iterate through the tuple
for fruit in fruits:
    print(fruit)

apple
banana
orange

# Python Dictionary

A Python dictionary is a collection of items, similar to lists and tuples. However, unlike lists and tuples, each item in a dictionary is a key-value pair (consisting of a key and a value).

### Create a Dictionary

We create a dictionary by placing key: value pairs inside curly brackets {}, separated by commas.

In [51]:
# creating a dictionary
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
  "England": "London"
}

# printing the dictionary
print(country_capitals)

{'Germany': 'Berlin', 'Canada': 'Ottawa', 'England': 'London'}

### Access Dictionary Items

We can access the value of a dictionary item by placing the key inside square brackets.

In [52]:
print(country_capitals['Germany'])

Berlin

In [53]:
print(country_capitals['Berlin'])

KeyError: 'Berlin'

In [54]:
modified_country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
  "England": "London",
    "Berlin": "Wall"
}

print(modified_country_capitals['Berlin'])

Wall

### Keys of a dictionary must be immutable

Immutable objects can't be changed once created. Some immutable objects in Python are integer, tuple and string.

In [55]:
# valid dictionary
# integer as a key
my_dict_01 = {1: "one", 2: "two", 3: "three"}

# valid dictionary
# tuple as a key
my_dict_02 = {(1, 2): "one two", 3: "three"}

# invalid dictionary
# Error: using a list as a key is not allowed
my_dict_03 = {1: "Hello", [1, 2]: "Hello Hi"}

# valid dictionary
# string as a key, list as a value
my_dict_04 = {"USA": ["Chicago", "California", "New York"]}

TypeError: unhashable type: 'list'

### Keys of a dictionary must be unique

The keys of a dictionary must be unique. If there are duplicate keys, the later value of the key overwrites the previous value.

In [56]:
hogwarts_houses = {
    "Harry Potter": "Gryffindor",
    "Hermione Granger": "Gryffindor",
    "Ron Weasley": "Gryffindor",
    # duplicate key with a different house
    "Harry Potter": "Slytherin"
}

print(hogwarts_houses)

{'Harry Potter': 'Slytherin', 'Hermione Granger': 'Gryffindor', 'Ron Weasley': 'Gryffindor'}

In [57]:
print(hogwarts_houses)
hogwarts_houses["Harry Potter"] = "Gryffindor"

print(hogwarts_houses)

{'Harry Potter': 'Slytherin', 'Hermione Granger': 'Gryffindor', 'Ron Weasley': 'Gryffindor'}
{'Harry Potter': 'Gryffindor', 'Hermione Granger': 'Gryffindor', 'Ron Weasley': 'Gryffindor'}

### Add Items to a Dictionary

We can add an item to a dictionary by assigning a value to a new key.

In [58]:
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
}

print(country_capitals)
# add an item with "Italy" as key and "Rome" as its value
country_capitals["Italy"] = "Rome"

print(country_capitals)

{'Germany': 'Berlin', 'Canada': 'Ottawa'}
{'Germany': 'Berlin', 'Canada': 'Ottawa', 'Italy': 'Rome'}

### Remove Dictionary Items

We can use the del statement to remove an element from a dictionary.

In [59]:
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
}
print(country_capitals)
# delete item having "Germany" key
del country_capitals["Germany"]

print(country_capitals)

{'Germany': 'Berlin', 'Canada': 'Ottawa'}
{'Canada': 'Ottawa'}

#### If we need to remove all items from a dictionary at once, we can use the clear() method.

In [60]:
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
}
print(country_capitals)
# clear the dictionary
country_capitals.clear()

print(country_capitals)

{'Germany': 'Berlin', 'Canada': 'Ottawa'}
{}

### Change Dictionary Items

Python dictionaries are mutable (changeable). We can change the value of a dictionary element by referring to its key.

In [61]:
country_capitals = {
  "Germany": "Berlin", 
  "Italy": "Naples", 
  "England": "London"
}
print(country_capitals)
# change the value of "Italy" key to "Rome"
country_capitals["Italy"] = "Rome"

print(country_capitals)

{'Germany': 'Berlin', 'Italy': 'Naples', 'England': 'London'}
{'Germany': 'Berlin', 'Italy': 'Rome', 'England': 'London'}

In [62]:
country_capitals = {
  "Germany": "Berlin", 
  "Italy": "Naples", 
  "England": "London"
}

country_capitals["deutschland"] = country_capitals["Germany"]

print(country_capitals)

{'Germany': 'Berlin', 'Italy': 'Naples', 'England': 'London', 'deutschland': 'Berlin'}

### Iterate Through a Dictionary

A dictionary is an ordered collection of items (starting from Python 3.7), therefore it maintains the order of its items.

We can iterate through dictionary keys one by one using a for loop.

In [63]:
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome" ,
    "India" : "Delhi"
}

# print dictionary keys one by one
for country in country_capitals:
    print(country)

# print()

# # print dictionary values one by one

for country in country_capitals:
    capital = country_capitals[country]
    print(capital)

United States
Italy
India
Washington D.C.
Rome
Delhi

In [64]:
# # print dictionary values one by one
for country in country_capitals:
    print(country_capitals[country])

Washington D.C.
Rome
Delhi

In [65]:
import datetime
tic = datetime.datetime.now()

for country in country_capitals:
    capital = country_capitals[country]
    print(capital)
    
toc = datetime.datetime.now()

print(toc - tic)

Washington D.C.
Rome
Delhi
0:00:00

In [66]:
import time
tic = datetime.datetime.now()

for country in country_capitals:
    print(country_capitals[country])
    
toc = datetime.datetime.now()

print(toc - tic)

Washington D.C.
Rome
Delhi
0:00:00

### Python Dictionary keys()
The keys() method extracts the keys of the dictionary and returns the list of keys as a view object.

In [67]:
numbers = {1: 'one', 2: 'two', 3: 'three'}

# extracts the keys of the dictionary
dictionaryKeys = numbers.keys()

print(dictionaryKeys)

print(type(dictionaryKeys))

dict_keys([1, 2, 3])
<class 'dict_keys'>

In [68]:
keys_list = list(dictionaryKeys)
print(keys_list)

[1, 2, 3]

### Python Dictionary values() 
The values() method returns a view object that displays a list of all the values in the dictionary.

In [69]:
marks = {'Physics':67, 'Maths':87}

print(marks.values(), type(marks.values()))

dict_values([67, 87]) <class 'dict_values'>

### Python Dictionary pop()

The pop() method removes and returns an element from a dictionary having the given key.

In [70]:
# create a dictionary
marks = { 'Physics': 67, 'Chemistry': 72, 'Math': 89 }

print(marks)

element = marks.pop('Chemistry')

print('Popped Marks:', element)

print(marks)

{'Physics': 67, 'Chemistry': 72, 'Math': 89}
Popped Marks: 72
{'Physics': 67, 'Math': 89}

### Dictionary Membership Test

We can check whether a key exists in a dictionary by using the in and not in operators.

In [71]:
file_types = {
    ".txt": "Text File",
    ".pdf": "PDF Document",
    ".jpg": "JPEG Image",
}

# use of in and not in operators
print(".pdf" in file_types)       
print(".mp3" in file_types)       
print(".mp3" not in file_types)

True
False
True

### Python Dictionary update()

The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.

In [72]:
marks = {'Physics':67, 'Maths':87}
internal_marks = {'Practical':48, 'Chemistry': 67 }

marks.update(internal_marks)


print(marks)

{'Physics': 67, 'Maths': 87, 'Practical': 48, 'Chemistry': 67}

# Python range() Function

The Python range() function generates a sequence of numbers.

By default, the sequence starts at 0, increments by 1, and stops before the specified number.

In [73]:
# create a sequence from 0 to 3
numbers = range(4)

# iterating through the sequence
for i in numbers:
    now = datetime.datetime.now()
    print(now, i)

print(type(numbers))

2025-07-22 13:25:17.309197 0
2025-07-22 13:25:17.309197 1
2025-07-22 13:25:17.309197 2
2025-07-22 13:25:17.309197 3
<class 'range'>

In [74]:
print(numbers, type(numbers))

range(0, 4) <class 'range'>

In [75]:
print(list(numbers))

[0, 1, 2, 3]

### range() Syntax
range(start, stop, step)

In [76]:
# create a sequence from 2 to 4 (5 is not included)
numbers = range(2, 5)
print(list(numbers))    

# create a sequence from -2 to 3
numbers = range(-2, 4)    
print(list(numbers))    

# creates an empty sequence
numbers = range(4, 2) 
print(list(numbers))    

numbers = range(4, 2, -1) 
print(list(numbers))

[2, 3, 4]
[-2, -1, 0, 1, 2, 3]
[]
[4, 3]

In [77]:
# create a sequence from 2 to 10 with increment of 3
numbers = range(2, 10, 3)
print(list(numbers))    

# create a sequence from 4 to -1 with increment of -1
numbers = range(4, -1, -1)    
print(list(numbers))    

# range(0, 5, 1) is equivalent to range(5)
numbers = range(0, 5, 1) 
print(list(numbers))

[2, 5, 8]
[4, 3, 2, 1, 0]
[0, 1, 2, 3, 4]

# Python datetime

Python has a module named datetime to work with dates and times.

It provides a variety of classes for representing and manipulating dates and times, as well as for formatting and parsing dates and times in a variety of formats.

### Get Current Date and Time

In [78]:
from datetime import datetime

now_3 = datetime.now()
print(now_3)

2025-07-22 13:25:18.354383

In [79]:
import datetime

# get the current date and time
now_1 = datetime.datetime.now()

print(now_1)

2025-07-22 13:25:18.528656

In [82]:
now_1

datetime.datetime(2025, 7, 22, 13, 25, 18, 528656)

### Get Current Date

In [83]:
import datetime

# get current date
current_date = datetime.date.today()

print(current_date)

2025-07-22

In [84]:
from datetime import date
current_date_1 = date.today()
print(current_date_1)

2025-07-22

### Date object to represent a date

In [85]:
import datetime

d = datetime.date(2022, 12, 25)

print(datetime.datetime.now())
print(d, type(d))

2025-07-22 13:25:39.909521
2022-12-25 <class 'datetime.date'>

In [86]:
dt = datetime.datetime(2022, 12, 25)

print(datetime.datetime.now())
print(dt, type(dt))

2025-07-22 13:25:40.529305
2022-12-25 00:00:00 <class 'datetime.datetime'>

### Get the date from a timestamp

We can also create date objects from a timestamp.

A UNIX timestamp is the number of seconds between a particular date January 1, 1970, at UTC. You can convert a timestamp to a date using the fromtimestamp() method.

In [87]:

timestamp = datetime.date.fromtimestamp(2327244364)
print("Date =", timestamp)

Date = 2043-09-30

### Print today's year, month and day

In [88]:
# date object of today's date
today_1 = datetime.date.today() 

print("Current year:", today_1.year)
print("Current month:", today_1.month)
print("Current day:", today_1.day)

Current year: 2025
Current month: 7
Current day: 22

### Time object to represent time

In [89]:
from datetime import time

# time(hour = 0, minute = 0, second = 0)
a = time()
print(a)

# time(hour, minute and second)
b = time(15, 34, 56)
print(b)

# time(hour, minute and second)
c = time(hour = 11, minute = 34, second = 56)
print(c)

# time(hour, minute, second, microsecond)
d = time(11, 34, 56, 234566)
print(d)

00:00:00
15:34:56
11:34:56
11:34:56.234566

### Print hour, minute, second and microsecond

In [90]:
from datetime import time

a = time(11, 34, 56 )

print("Hour =", a.hour)
print("Minute =", a.minute)
print("Second =", a.second)
print("Microsecond =", a.microsecond)

Hour = 11
Minute = 34
Second = 56
Microsecond = 0

### Python datetime object

In [91]:
# datetime(year, month, day)
a = datetime.datetime(2022, 12, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime.datetime(2022, 12, 28, 23, 55, 59, 342380)
print(b)

2022-12-28 00:00:00
2022-12-28 23:55:59.342380

### Python datetime.timedelta Class

In [92]:
# using date()
t1 = datetime.date(year = 2018, month = 7, day = 12)
t2 = datetime.date(year = 2017, month = 12, day = 23)

t3 = t2 - t1

print("t3 =", t3)

# using datetime()
t4 = datetime.datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime.datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("Type of t3 =", type(t3)) 
print("Type of t6 =", type(t6))

t3 = -201 days, 0:00:00
t6 = -333 days, 1:14:20
Type of t3 = <class 'datetime.timedelta'>
Type of t6 = <class 'datetime.timedelta'>

In [93]:
# Timedelta function demonstration 
from datetime import datetime, timedelta


# Using current time
ini_time_for_now = datetime.now()

# printing initial_date
print ('initial_date:', str(ini_time_for_now))

# Calculating past dates
# for two years
past_date_before_2yrs = ini_time_for_now - \
                       timedelta(days = 730)

# for two hours
past_date_before_2hours = ini_time_for_now - \
                        timedelta(hours = 2)


# printing calculated past_dates
print('past_date_before_2yrs:', str(past_date_before_2yrs))
print('past_date_before_2hours:', str(past_date_before_2hours))

initial_date: 2025-07-22 13:25:43.854993
past_date_before_2yrs: 2023-07-23 13:25:43.854993
past_date_before_2hours: 2025-07-22 11:25:43.854993

In [94]:
next_6hour = ini_time_for_now + \
                        timedelta(hours = 6)

print(next_6hour)

2025-07-22 19:25:43.854993

### Time duration in seconds

We can get the total number of seconds in a timedelta object using the total_seconds() method.

In [95]:
from datetime import timedelta

t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print("Total seconds =", t.total_seconds())

Total seconds = 435633.233423

### Python format datetime

The way date and time are represented may be different in different places, organizations, etc. It's more common to use mm/dd/yyyy in the US, whereas dd/mm/yyyy is more common in the UK.

Python has strftime() and strptime() methods to handle this.

### Python strftime() Method

The strftime() method is defined under classes date, datetime and time. The method creates a formatted string from a given date, datetime or time object.

In [96]:
from datetime import datetime

# current date and time
now_1 = datetime.now()

t = now_1.strftime("%H:%M:%S")
print("Time:", t)
print(type(t))

s1 = now_1.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now_1.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

Time: 13:25:44
<class 'str'>
s1: 07/22/2025, 13:25:44
s2: 22/07/2025, 13:25:44

### Python strptime() Method

The strptime() method creates a datetime object from a given string (representing date and time).

In [97]:
from datetime import datetime

date_string = "25 December, 2022"
print("date_string =", date_string)

# use strptime() to create date object
date_object = datetime.strptime(date_string, "%d %B, %Y")

print("date_object =", date_object)

date_string = 25 December, 2022
date_object = 2022-12-25 00:00:00